{% extends 'Digital_Diary_app/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-6">
        <h3 class="text-white my-5">To become an writer</h3>
        <!--to show the messages after subbmission of the form-->
        {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class ="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
        {% endfor %}
        {% endif %}
        <!---to print forms one by one---->
        <!-- if we want to ignore the errors of form then we will use novalidate attribute which  is used to signify that the form won't get validated on submit.-->
        <form action="" method ="post" novalidate style="font-weight: bolder; color:wheat ">
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors |striptags}} </small> <!--to control all fields-->
                </div><br>
            {% endfor %}
            
            <input type="submit" value="Submit" class="btn btn-primary">
            <!--for non fields error-->
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}

        </form>
    </div>
{% endblock content %}